select {
  font-family: "FontAwesome", "Baloo Tamma 2", cursive;
}

.createProjForm {
  background-color: $WHITE;
}
.submitBtn {
  background-color: $LIGHT_PURPLE;
  &:hover {
    background-color: $GREEN;
  }
}
