.createProject {
  line-height: 3;
  img {
    max-width: 350px;
    margin-top: 6rem;
  }
  .title {
    color: $PURPLE;
    font-weight: bold;
    margin-left: 40px;
  }
  .submitBtn {
    background-color: $LIGHT_PURPLE;
    margin-left: 40px;
    &:hover {
      background-color: $GREEN;
      transform: translateX(15px);
      transition: all 0.5s ease-in-out;
    }
  }
}

@media only screen and (min-width: 1650px) {
  .createProject {
    img {
      max-width: 430px;
      transition: all 0.5s ease-in-out;
    }
  }
}
@media only screen and (max-width: 1450px) {
  .createProject {
    img {
      max-width: 250px;
      transition: all 0.5s ease-in-out;
    }
  }
}
@media only screen and (max-width: 993px) {
  .createProject {
    img {
      display: none;
    }
  }
}
