select {
  font-family: "FontAwesome", "Baloo Tamma 2", cursive;
}

.createProjForm {
  background-color: $WHITE;
}
.submitBtn {
  background-color: $PURPLE;
  &:hover {
    background-color: $DARK_BLUE;
  }
}
