.dashboard {
  .placement1 {
    color: $GREEN;
    font-weight: bolder;
    margin-top: 70px;
  }
  .placement2 {
    color: $LIGHT_PURPLE;
    font-weight: bolder;
    margin-top: 70px;
  }
  .placement3 {
    color: $DARK_BLUE;
    font-weight: bolder;
    margin-top: 70px;
  }
  .title {
    color: $PURPLE;
    font-weight: bold;
  }
  .submitBtn {
    background-color: $LIGHT_PURPLE;
    &:hover {
      background-color: $GREEN;
    }
  }
}
