@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
@import "./navbar.scss";
@import "./createProject.scss";
@import "./projectSummary.scss";
@import "./profile.scss";
@import "./auth.scss";
@import "./projectDetails.scss";

body {
  margin: 0;
  font-family: "Baloo Tamma 2", cursive;
  background-color: $WHITE;
}

.closeBtn {
  color: $RED;
  &:hover {
    font-size: 2rem;
    transition: all 0.1s ease-out;
  }
}

.fieldTitle {
  color: $LIGHT_PURPLE;
  opacity: 0.75;
}
