@import "./theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
@import "./navbar.scss";
@import "./createProject.scss";
@import "./projectSummary.scss";
@import "./profile.scss";
@import "./auth.scss";
@import "./projectDetails.scss";

body {
  margin: 0;
  font-family: "Baloo Tamma 2", cursive;
  background-color: $WHITE;
}
