.nav-wrapper {
  background-color: $PURPLE;
  .brand-logo {
    color: $WHITE;
    &:hover {
      font-size: 2.2rem;
      transition: all 0.01s ease-in-out;
    }
    .logoIcon {
      font-size: 2.4rem;
      margin-bottom: 10px;
    }
  }
  .active {
    background-color: #664c96;
  }
}
.sidenav {
  font-size: 3rem;
}
