.projectSummary {
  .alarmIcon,
  .upVoteIcon {
    font-size: 1.5rem;
    margin-right: 2px;
  }
  a {
    color: $PURPLE;
    &:visited {
      color: $LIGHT_PURPLE;
    }
  }
  .card-title {
    margin-top: -10px;
  }
  .upVoteIcon {
    &:hover {
      cursor: pointer;
    }
  }
  .techStack {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    line-height: 2;
    p {
      font-size: 1.2rem;
    }
  }
  .category,
  .timeEstimate {
    display: flex;
    flex-direction: column;
  }
}
.devI {
  font-size: 3rem;
  margin-right: 5px;
}

@media only screen and (max-width: 766px) {
  .card-action {
    .author {
      font-size: 0.9rem;
    }
  }
  .devI {
    font-size: 2rem;
    margin-right: 4px;
  }
}
@media only screen and (max-width: 601px) {
  .projectSummary {
    .details {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
    }
    .card-action {
      .author {
        font-size: 0.7rem;
      }
    }
  }
}
